<!DOCTYPE html>
<html lang="en">
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>SxClient - Welcome</title>
      <link rel="stylesheet" href="css/main.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
      <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
   </head>
   <body>
   		<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
   			<div class="navbar-brand">
   				<a class="navbar-item" href="#">
   					<h1><strong>SxClient</strong></h1>
   					</a>
   				 <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
   				 	<span aria-hidden="true"></span>
   				 	<span aria-hidden="true"></span>
   				 	<span aria-hidden="true"></span>
   				</a>
   			</div>
   			<div id="navbarBasicExample" class="navbar-menu">
   				<div class="navbar-start">
   					<a href="/" class="navbar-item">
   						Home
   					</a>
   					<a href="/download" class="navbar-item">
   						Download
   					</a>
   					<a href="/bot" class="navbar-item">
   						Discord bot
   					</a>
   					<a href="https://github.com/SxClient/SxClient" class="navbar-item">
   						Github repo
   					</a>
   					<a href="https://discord.gg/TFepYB9" class="navbar-item">
   						Discord server
   					</a>
   				</div>
   			</div>
   		</nav>
   		
   		<div class="container">
   			<!-- Main hero -->
   			<section class="hero is-dark">
   				<div class="hero-body">
   					<div class="container has-text-centered">
   						<figure class="image is-128x128 container">
   							<img class=" is-rounded" src="imgs/logo.png">
   							</figure><br>
   						<h1 class="title">
   							SxClient
   						</h1>
   					<h2 class="subtitle">
   						A Minecraft hacked client based on Toolbox
   					</h2>
   				</div>
   			</div>
   		</section>
   		<!-- Wave effect -->
   		<div id="wave-container">
   			<div id="wave">
   			</div>
	   	</div>
	   </div>
	   		
	  <!-- Why SxClient? -->
	  <div class="container" id="why-sxclient" style="background-color: #E5E5E5 !important;">
	    <!--<br>
	    <p class="title has-text-centered">
	        SxClient video
	    </p>
	    <div class="videoWrapper">
	        <iframe width="560" height="315" src="https://www.youtube.com/embed/YPO_2A8PJk4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>-->
	  	<br>
	  	<p class="title has-text-centered">
	  		Why SxClient?
	  	</p>
	  	<br>
	  <div class="card">
	   	<div class="card-content has-text-centered">
	   		<div class="content">
	   			<p class="title">
	   				No more lags
	   			</p>
	   			<p class="subtitle">
	   					Our client is optimized so that you don't have bugs!
	   			</p>
	   		</div>
	   	</div>
	  	</div>
	  <br>
	  	<div class="card">
	   	<div class="card-content has-text-centered">
	   		<div class="content">
	   			<p class="title">
	   				A lot of features
	   			</p>
	   			<p class="subtitle">
	   					Our client has features that other clients on Android doesn't have like the Killaura!
	   			</p>
	   		</div>
	   	</div>
	  	</div>
	  <br>
	  	<div class="card">
	   	<div class="card-content has-text-centered">
	   		<div class="content">
	   			<p class="title">
	   				Good UI
	   			</p>
	   			<p class="subtitle">
	   					Toolbox allows our client to have an interface like that of Minecraft which makes its use much simpler!
	   			</p>
	   		</div>
	   	</div>
	  	</div>
	  <br>
	 </div>
	 
	 <section class="hero is-dark has-text-centered">
	 	<div class="hero-body">
	 		<div class="container">
	 			<h2 class="subtitle">
	 				© 2019 SxClient
	 				<br>Website made with <a href="https://bulma.io">Bulma</a>
	 			</h2>
	 		</div>
	 	</div>
	</section>
   		
   		<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
   		<script src="js/navbar.js"></script>
   </body>
</html>